/* Color Scheme:
** 1. Night:            #141414
** 2. Battleship gray:  #898A88 
** 2. Baby powder:      #FDFFFC
** 3. Light sea green:  #2EC4B6
** 4. Red (pantone):    #E71D36
** 5. Orange peel:      #FF9F1C
*/

@import url("cabinet-grotesk.css");

@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: #2EC4B6;
  --color-primary-content: #FDFFFC;
  --color-secondary: #E71D36;
  --color-secondary-content: #FDFFFC;
  --color-accent: #FF9F1C;
  --color-accent-content: #141414;
  --color-neutral: #898A88;
  --color-neutral-content: #FDFFFC;
  --color-base-100: #fcfcfc;
  --color-base-200: #efefef;
  --color-base-300: #dcdcdc;
  --color-base-400: #bdbdbd;
}

@plugin "daisyui/theme" {
  name: "dark";
  color-scheme: dark;
  --color-primary: #2EC4B6;
  --color-primary-content: #FDFFFC;
  --color-secondary: #E71D36;
  --color-secondary-content: #FDFFFC;
  --color-accent: #FF9F1C;
  --color-accent-content: #141414;
  --color-neutral: #898A88;
  --color-neutral-content: #FDFFFC;
  --color-base-100: #141414;
  --color-base-200: #3d3d3d;
  --color-base-300: #454545;
  --color-base-400: #4f4f4f;
}

:root {
  --night: #141414;
  --battleship-gray: #898A88;
  --baby-powder: #FDFFFC;
  --light-sea-green: #2EC4B6;
  --red-pantone: #E71D36;
  --orange-peel: #FF9F1C;

  font-family: 'CabinetGrotesk-Variable';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*::selection {
  color: var(--baby-powder);
  background-color: var(--light-sea-green);
}

.resultado::selection {
  color: var(--baby-powder);
  background-color: var(--red-pantone);
}

.resultado::placeholder {
  color: var(--baby-powder);
  opacity: 1;
}

.resultado.input:focus,
.resultado.input:focus-within {
  outline: none !important;
  box-shadow: 0 0 0 2px #239A8E !important;
}

.input:focus,
.input:focus-within {
  outline: none !important;
  box-shadow: 0 0 0 2px #898A88 !important;
}

.label .label-text {
  color: var(--color-base-content) !important;
}

@keyframes button-pop {
  0% { transform: scale(0.98); }
  40% { transform: scale(1.02); }
  100% { transform: scale(1); }
}

.btn {
  animation: button-pop 0.25s ease-out;
}

.btn:active:not(.btn-active) {
  transform: scale(0.97) !important;
  translate: 0 0 !important;
}