/* Color Scheme:
** #222831 
** #31363F
** #76ABAE
** #EEEEEE
*/

@import url("cabinet-grotesk.css");

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'CabinetGrotesk-Variable';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #EEEEEE;
  background-color: #222831;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

:root::selection {
  color: #222831;
  background-color: #76ABAE;
}